.app-header {
   min-height: rem(56px);
   max-height: rem(56px);
   display: flex;
   align-items: center;
   background-color: $clr2;
   box-shadow: $boxShad1;
   nav {
      // margin: 0 rem(8px);
      &>:first-child{
         margin-inline-start: rem(8px);
      }
      &>:last-child{
         margin-inline-end: rem(8px);
      }
      display: grid;
      grid-template-columns: $sideBarWidth 1fr;
      flex-grow: 1;
      height: 100%;
      .input-container{
         max-width: rem(580px);
         position: relative;
         input{
            width: 100%;
            background-color: $clr1;
            border-radius: 3px;
            height: rem(36px);
            line-height: rem(24px);
            border: none;
            outline: none;
            flex-grow: 1;
            font-size:14px;
            padding-inline-start: rem(36px);
         }
         svg{
            position: absolute;
            left: rem(8px);
            top: 50%;
            transform:translateY(-50%);
            @include iconMd;
            path{
               fill:$clrIcon;
            } 
         }
      }
      .user-nav{
         padding:rem(6px) rem(8px);
         .avatar{
            margin-inline-end: rem(8px);
         }
         font-size: 13px;
         letter-spacing: 00.7px;
      }
      .store-select {
         visibility: hidden;
         @include for-normal-layout {
            width:$sideBarWidth;
            visibility: visible;
            padding: 0 0 0 rem(6px);
            .logo {
               width: rem(25px);
            }
            span {
               font-size: 14px;
               font-family: "SF Pro";
               letter-spacing: 0.7px;
               margin-inline-start: rem(12px);
               line-height: rem(20px);
            }
         }
         svg {
            @include iconMd;
            &:last-child {
               margin-inline-start: rem(4px);
            }
         }
      }
   }
}
