.data-actions-wrapper{
    position: relative;
    .select{
        position: absolute;
        top:50%;
        left: 1px;
        transform: translateY(-50%);
        &+span{
            margin-inline-start: 0.8rem;
        }
    }
    .count{
        min-width:rem(20px);
        display: inline-block;
        text-align: center;
    }
}