header {
   height: rem(56px);
   overflow: hidden;
   text-overflow: ellipsis;
   background-color: $clr2;
   box-shadow: $boxShad1;
   nav {
      // margin: 0 rem(8px);
      &>:first-child{
         margin-inline-start: rem(8px);
      }
      &>:last-child{
         margin-inline-end: rem(8px);
      }
      display: grid;
      grid-template-columns: $sideBarWidth 1fr;
      flex-grow: 1;
      height: 100%;
      input{
         background-color: $clr1;
         border-radius: 3px;
         height: rem(36px);
         line-height: rem(24px);
         border: none;
         outline: none;
         flex-grow: 1;
         margin-inline-start: rem(36px);
      }
      .store-select {
         visibility: hidden;
         @include for-normal-layout {
            width:$sideBarWidth;
            visibility: visible;
            padding: 0 0 0 rem(6px);
            .logo {
               width: rem(25px);
            }
            span {
               font-size: 14px;
               font-family: "SF Pro";
               letter-spacing: 0.7px;
               margin-inline-start: rem(12px);
               line-height: rem(20px);
            }
         }
         svg {
            @include iconMd;
            &:last-child {
               margin-inline-start: rem(4px);
            }
         }
      }
   }
}
