.product-preview{
    .img-preview{
        width: rem(58px);
        div{
            @include centerAllInside;
            width: rem(58px);
            height:rem(58px);
            border:1px solid $brd1;
            border-radius: $brdRad1;
            margin: rem(8px) 0 rem(8px) 0;
            svg{
                @include iconMd;
                path{
                    fill:$iconReg
                }
            }
        }
    }
    .product-title{
        &:hover{
            text-decoration: underline;
        }
        color: $clr3;
        font-weight: 600;
    }
}