
.tags-edit-modal{
    .search-container{
        border:1px solid $stMuted;
        border-radius: $brdRad1;
        padding: rem(6px);
        
        input{
            border:none;
            outline: none;
            padding: rem(6px);
            flex-grow: 1;
        }
    }
    hr{
        margin:1rem 0
    }
    .tags-pool{
        min-height: 4rem;
        h3{
            @include secondary-title;
            font-size: rem(12px);
            margin-bottom: 1rem;
        }
    }
}
