// Font Sizes
.fs12 {
    font-size: rem(12px);
}
.fs14 {
    font-size: rem(14px);
}
.fs18 {
    font-size: rem(18px);
}
.fs20 {
    font-size: rem(20px);
    font-weight: 500;
}
.fs24 {
    font-size: rem(24px);
}
.fs28 {
    font-size: rem(28px);
}
.fs30 {
    font-size: rem(30px);
}

// flex helpers

.flex {
    display: flex;

    > *.full {
        flex: 1;
    }

    &.column {
        flex-direction: column;
    }
    &.justify-center {
        justify-content: center;
    }
    &.justify-space-between {
        justify-content: space-between;
    }
    &.align-center {
        align-items: center;
    }
    &.wrap {
        flex-wrap: wrap;
    }
    &.column-reverse {
        flex-direction: column-reverse;
    }
    &.justify-flex-end {
        justify-content: flex-end;
    }
    &.align-flex-start {
        align-items: flex-start;
    }
    &.full {
        flex-grow: 1;
    }
}

// Media helpers
.square-ratio {
    @include aspect-ratio(1, 1);
}
.video-ratio {
    @include aspect-ratio(16, 9);
}
.portrait-ratio {
    @include aspect-ratio(9, 16);
}

// List helpers
.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

// ICONS
.icon-sm {
    height: 1rem;
    width: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-md {
    height: rem(20px);
    font-size: rem(16px);
    line-height: rem(20px);
    width: rem(20px);
}

.icon-lg {
    height: rem(32px);
    line-height: rem(32px);
    width: rem(32px);
}
.icon-xlg {
    width: rem(48px);
    height: rem(48px);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline-end: rem(14px);
    img {
        width: rem(30px);
        height: rem(30px);
        object-fit: contain;
        object-position: center;
    }
}
h1,h2,h3,h4{
    &.md{
        font-size: rem(20px);
    }
}
.page-surface{
    background-color: $clr2;
    font-size: 14px;
    border-radius: rem(8px);
    box-shadow: $boxShad1;
}
.page-header{
    margin-bottom: rem(16px);
}