.main-container {
    padding-top: rem(16px);
    flex-grow: 1;
    display: grid;
    height: calc(100vh - 56px);
    overflow-y: auto;
    grid-template-columns:1fr;
    > * {
        grid-column: 2;

        &.full {
            grid-column: 1 / -1;
        }
    }

    @include for-narrow-layout {
        grid-template-columns:
            rem(20px)
            minmax(auto, $mobile-breakpoint)
            rem(20px)
    } 
    @include for-normal-layout {
        grid-template-columns:
            rem(20px)
            minmax(auto,$normal-breakpoint)
            rem(20px)
    } 
    @include for-wide-layout {
        grid-template-columns:
        rem(32px)
        minmax(auto, $normal-breakpoint)
        rem(32px)
    }
    @include for-xl-wide-layout{
        grid-template-columns:
        rem(40px)
        minmax(auto, 1fr)
        rem(40px)
    }
}
.main-app-wrapper{
    display:flex;
 flex-grow: 1;
}





